.App {
  text-align: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  display : none;

}
.dropdown:hover .dropdown-content {
  display : block;
}